<% content_for :title do %>History<% end %>
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">History</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="list-group">
      <% @entries.each do |entry| %>
          <% if entry.url.nil? %>
          <span class="list-group-item">
            <i class="fa <%=entry.type%> fa-fw"></i>
              <%=entry.message%>
              <span class="pull-right text-muted small"><em><%= time_ago_in_words entry.created_at%> ago</em>
              </span>
          </span>
          <% else %>
          <a class="list-group-item" href="<%=entry.url%>">
            <i class="fa <%=entry.type%> fa-fw"></i>
            <%=entry.message%>
              <span class="pull-right text-muted small"><em><%= time_ago_in_words entry.created_at%> ago</em>
              </span>
          </a>
          <% end %>
      <% end %>
    </div>

  </div>
</div>