<% content_for :title do %>Material #<%=@material.id%><% end %>
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Material</h1>
  </div>
</div>
<div class="row">
    <div class="col-lg-6">
      <table class="table table-responsive">
        <tr>
          <td class="lead no-border">ID</td>
          <td class="no-border"><%=@material.id%></td>
        </tr>
        <tr>
          <td class="lead no-border">Short name</td>
          <td class="no-border"><%=@material.short_name%></td>
        </tr>
        <tr>
          <td class="lead">Long name</td>
          <td><%=@material.long_name%></td>
        </tr>
        <tr>
          <td class="lead">Price</td>
          <td><%=number_to_currency(@material.price.to_f/100, unit: '€', separator: ',', delimiter: '.', format: '%n %u')%></td>
        </tr>
        <tr>
          <td class="lead">Delivery Time</td>
          <td><%=@material.delivery_time%></td>
        </tr>
        <tr>
          <td class="lead">Replacement Time</td>
          <td><%=@material.replacement_time%></td>
        </tr>
        <tr>
          <td class="lead">Production Cost</td>
          <td><%=number_to_currency(@material.production_cost.to_f/100, unit: '€', separator: ',', delimiter: '.', format: '%n %u')%></td>
        </tr>
        <tr>
          <td class="lead">Minimal Price</td>
          <td><%=number_to_currency(@material.minimal_price.to_f/100, unit: '€', separator: ',', delimiter: '.', format: '%n %u')%></td>
        </tr>
        <tr>
          <td class="lead">Items per Package</td>
          <td><%=@material.items_per_package%></td>
        </tr>


        <tr>
          <td class="lead">Currently in stock</td>
          <td><%=@material.stock%></td>
        </tr>

        <tr>
          <td class="lead">Suggested Stock</td>
          <td><%=@material.suggested_stock%></td>
        </tr>
      </table>
    </div>
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Stock Transactions
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body" id="chart-base" style="height:250px;">
      </div>
      <!-- /.panel-body -->
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        Stock over Time
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body" id="chart-time" style="height:250px;">
      </div>
      <!-- /.panel-body -->
    </div>
  </div>

</div>


<% content_for :foot do %>
    <script type="text/javascript">
        $(document).ready(function() {
            var analyze_information = jQuery.parseJSON('<%= raw @material_stock.to_json%>');
            new Morris.Bar({
                element: 'chart-base',
                data: analyze_information,
                xkey: 'day',
                ykeys: ['ordered_incoming', 'deliveries_at', 'deliveries_incoming'],
                labels: ['Replacement Orders', 'Order Deliveries', 'Replacement Deliveries'],
                barColors: ['#428bca', '#F14B51', '#2a6496']
            });

            var stock_over_time = jQuery.parseJSON('<%= raw @stock_over_time.to_json%>');
            new Morris.Line({
                element: 'chart-time',
                data: stock_over_time,
                xkey: 'day',
                ykeys: ['stock'],
                labels: ['Stock'],
                lineColors: ['#428bca'],
                smooth: false
            });
        });
    </script>
<% end %>