<% content_for :title do %>Material<% end %>
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Material <a href="<%= material_view_create_path %>" class="btn pull-right btn-success"><span class="fa fa-plus"></span> Create</a></h1>
  </div>
</div>
<div class="row">
<div class="col-lg-12">
  <p>We have <strong><%=@materials.length %></strong> different materials.</p>
  <div class="table-responsive">
  <table class="table table-stripped table-hover sortable">
    <thead>
    <tr>
      <th>#</th>
      <th>Name <span class="fa fa-sort pull-right sort"></span></th>
      <th>Longname <span class="fa fa-sort pull-right sort"></span></th>
      <th>Price <span class="fa fa-sort pull-right sort"></span></th>
      <th>Delivery time <span class="fa fa-sort pull-right sort"></span></th>
      <th>Current stock <span class="fa fa-sort pull-right sort"></span></th>
      <th> </th>
      <th> </th>
    </tr>
    </thead>
    <tbody>
    <% @materials.each do |material| %>
        <tr>
          <td><%= material.id %></td>
          <td><a href="<%= material_details_path(:material_id => material.id)%>"><strong><%= material.short_name%></strong></a></td>
          <td><%= material.long_name%></td>
          <td><%=number_to_currency(material.price.to_f/100, unit: '€', separator: ',', delimiter: '.', format: '%n %u')%></td>
          <td><%= material.delivery_time %></td>
          <td><%= material.stock %></td>
          <td>
            <a href="<%= material_details_path(:material_id => material.id)%>"><span class="fa fa-long-arrow-up"></span> View details</a>
          </td>
          <td>
            <a class="label label-danger pull-right delete" href="<%=material_remove_path(:material_id => material.id)%>"><span class="fa fa-times"></span> </a>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
    </div>
 </div>
</div>