<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Create Material</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-8">
    <form action="<%=material_create_path%>" method="post">

      <!-- Table -->
      <table class="table">
        <tr>
          <td class="lead no-border">Short name</td>
          <td class="no-border"><input type="text" class="form-control" name="short_name"></td>
        </tr>
        <tr>
          <td class="lead">Long name</td>
          <td><input type="text" class="form-control" name="long_name"></td>
        </tr>
        <tr>
          <td class="lead">Price</td>
          <td><input type="number" class="form-control" name="price"></td>
        </tr>
        <tr>
          <td class="lead">Delivery Time</td>
          <td><input type="number" class="form-control" name="delivery_time"></td>
        </tr>
        <tr>
          <td class="lead">Replacement Time</td>
          <td><input type="number" class="form-control" name="replacement_time"></td>
        </tr>
        <tr>
          <td class="lead">Production Cost</td>
          <td><input type="number" class="form-control" name="production_cost"></td>
        </tr>
        <tr>
          <td class="lead">Minimal Price</td>
          <td><input type="number" class="form-control" name="minimal_price"></td>
        </tr>
        <tr>
          <td class="lead">Items per Package</td>
          <td><input type="number" class="form-control" name="items_per_package"></td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" class="btn btn-success" value="Submit"></td>
        </tr>

      </table>

    </form>
  </div>
</div>
