<% content_for :title do %>Orders<% end %>
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Orders </h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <p>Currently <strong><%=@orders.length %></strong> orders</p>
    <div class="table-responsive">
      <table class="table table-stripped sortable table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>Quantity <span class="fa fa-sort pull-right sort"></span></th>
          <th>Material <span class="fa fa-sort pull-right sort"></span></th>
          <th>Date <span class="fa fa-sort pull-right sort"></span></th>
          <th>Quote </th>
          <th> </th>
        </tr>
        </thead>
        <tbody>
        <% @orders.reverse.each do |order| %>
            <tr>
              <td><%= order.id %></td>
              <td><%= order.quantity%></td>
              <td><a href="<%= material_details_path(:material_id => order.quote.material.id)%>"><%= order.quote.material.short_name%></a></td>
              <td><%= order.quote.date%></td>
              <td><a href="<%= quote_details_path(:access_id => order.quote.access_id) %>"><span class="fa fa-reply"></span> Show quote</a></td>
              <td>
                <!--<a class="label label-danger pull-right delete" href="#"><span class="fa fa-times"></span> Cancel</a>-->
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>