<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Create Order</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-8">
    <form action="<%=order_create_path%>" method="post">

      <!-- Table -->
      <table class="table">
        <tr>
          <td class="lead no-border">Material</td>
          <td class="no-border"><input type="text" class="form-control" value="<%=@quote.material.short_name%>" readonly></td>
        </tr>
        <tr>
          <td class="lead">Promised Quantity</td>
          <td class="no-border"><input type="text" class="form-control" value="<%=@quote.quantity%>" readonly></td>
        </tr>
        <tr>
          <td class="lead">Quantity to order</td>
          <td class="no-border"><input type="text" class="form-control" name="quantity" value="<%=@quote.quantity%>"></td>
        </tr>
        <tr>
          <td class="lead">Call ID</td>
          <td><input type="number" class="form-control" name="id"></td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" class="btn btn-success" value="Submit"></td>
        </tr>
      </table>
      <input type="hidden" name="quote_id" value="<%=@quote.id%>">
      <input type="hidden" name="material_id" value="<%=@quote.material.id%>">
    </form>
  </div>
</div>
