<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Create Plant</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-8">
    <form action="<%=plant_create_path(:customer_access_id => @customer.access_id)%>" method="post">

      <!-- Table -->
      <table class="table">
        <tr>
          <td class="lead no-border">Address</td>
          <td class="no-border"><input type="text" class="form-control" name="address"></td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" class="btn btn-success" value="Submit"></td>
        </tr>

      </table>

    </form>
  </div>
</div>
