<% content_for :title do %>Error<% end %>
<div class="row">
  <div class="col-lg-12">
    <h1>Ooops an Error occured</h1>
    <p>Doctor Zoidberg is asking you to keep calm</p>
    <img src="http://media.giphy.com/media/yEXPAGIytvqNy/giphy.gif">
    <p class="muted"><strong><%=@error.error_code%></strong> - <%=@error.message%></p>
  </div>
</div>