<% content_for :title do %>Statistics<% end %>
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Statistics</h1>
  </div>
</div>
<div class="row">
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Profit
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body" style="height: 350px;" id="profit-chart">
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          New Quotes and Orders
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body" style="height: 350px;" id="quotes-chart">
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>

  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Order to Quote Translation
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body" style="height: 350px;" id="translation-chart">
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Customers
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body" style="height: 350px;" id="customers-chart">
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
</div>

<% content_for :foot do %>
    <script type="text/javascript">
        $(document).ready(function() {
            var analyze_information = jQuery.parseJSON('<%= raw @profit.to_json%>');
            new Morris.Bar({
                element: 'profit-chart',
                data: analyze_information,
                xkey: 'day',
                ykeys: ['income', 'loss', 'profit'],
                labels: ['Income', 'Loss', 'Profit'],
                barColors: ['#F14B51', '#428bca', '#2a6496']
            });

            var quotes_information = jQuery.parseJSON('<%= raw @new_quotes_orders.to_json%>');
            new Morris.Bar({
                element: 'quotes-chart',
                data: quotes_information,
                xkey: 'day',
                ykeys: ['quotes', 'orders'],
                labels: ['Quotes', 'Orders'],
                barColors: ['#428bca', '#2a6496']
            });

            var quotes_translation_information = jQuery.parseJSON('<%= raw @quote_order_translation.to_json%>');
            new Morris.Line({
                element: 'translation-chart',
                data: quotes_translation_information,
                xkey: 'day',
                ykeys: ['translation'],
                ymin: 0,
                ymax: 100,
                labels: ['Translation'],
                lineColors: ['#428bca'],
                smooth: false
            });

            var customer_information = jQuery.parseJSON('<%= raw @new_customers.to_json%>');
            new Morris.Line({
                element: 'customers-chart',
                data: customer_information,
                xkey: 'day',
                ykeys: ['customers'],
                labels: ['Customers'],
                lineColors: ['#428bca'],
                smooth: false
            });
        });
    </script>
<% end %>