<% content_for :title do %>SPO-SIM Dashboard<% end %>
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Simulation Dashboard</h1>
  </div>
</div>
<div class="row">
  <a href="<%= quote_list_path %>">
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-question-circle fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge"><%= Quote.all.count %></div>
              <div>Quotes</div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <span class="pull-left">View all</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </a>
  <a href="<%= order_list_path %>">
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-green">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-star fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge"><%= Order.all.count %></div>
              <div>Orders</div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <span class="pull-left">View all</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </a>
  <a href="<%= material_list_path %>">
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-yellow">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-cubes fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge"><%= Material.where(active: true).count %></div>
              <div>Materials</div>
            </div>
          </div>
        </div>

        <div class="panel-footer">
          <span class="pull-left">View all</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

          <div class="clearfix"></div>
        </div>

      </div>
    </div>
  </a>
  <a href="<%= customer_list_path %>">
    <div class="col-lg-3 col-md-6">
      <div class="panel panel-red">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-users fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">
              <div class="huge"><%= Customer.all.count %></div>
              <div>Customers</div>
            </div>
          </div>
        </div>

        <div class="panel-footer">
          <span class="pull-left">View all</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </a>
</div>
<div class="row">
  <div class="col-lg-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        About
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <p>
        This is the dashboard of the <a href="http://wi2.dhbw-heidenheim.de:8000/BA/specials/Logistiksimulation" target="_blank">logistics simulation project</a>. The simulation features this graphical dashboard and a REST interface. It is build with Ruby on Rails, MySQL and the redis key-value storage. For more information, read our short documentation:<br><br>
        <a href="http://bit.ly/VKpbbO" target="_blank" class="btn btn-default">Download documentation</a>
        </p>
      </div>
      <!-- /.panel-body -->
    </div>
  </div>
  <div class="col-lg-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        History
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="list-group">
          <% HistoryEntry.find_in_range(-5, -1).reverse.each do |entry| %>
              <% if entry.url.nil? %>
          <span class="list-group-item">
            <i class="fa <%= entry.type %> fa-fw"></i>
            <%= entry.message %>
            <span class="pull-right text-muted small"><em><%= time_ago_in_words entry.created_at %> ago</em>
              </span>
          </span>
              <% else %>
                  <a class="list-group-item" href="<%= entry.url %>">
                    <i class="fa <%= entry.type %> fa-fw"></i>
                    <%= entry.message %>
                    <span class="pull-right text-muted small"><em><%= time_ago_in_words entry.created_at %> ago</em>
              </span>
                  </a>
              <% end %>
          <% end %>
        </div>

        <a href="<%= history_path %>" class="btn btn-default">Complete history</a>
      </div>
      <!-- /.panel-body -->
    </div>
  </div>
</div>