<% content_for :title do %>Quote #<%=@quote.id%><% end %>
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Quote</h1>
  </div>
</div>
<% ([@quote]+(@quote.alternatives)).each do |quote| %>
    <div class="row">
      <div class="col-lg-12">
        <h2><%=quote == @quote ? 'Quote' : 'Alternative' %><%if quote.active?%><a href="<%= order_view_create_path(:access_id => quote.access_id) %>" class="btn pull-right btn-success"><span class="fa fa-plus"></span> Order</a><%end%></h2>
      </div>
      <div class="col-lg-12">
        <table class="table table-responsive">
          <tr>
            <td class="lead no-border">ID</td>
            <td class="no-border"><%= quote.id %></td>
          </tr>
          <tr>
            <td class="lead no-border">Status</td>
            <td class="no-border">
              <% if quote.has_order? %>
                  <span class="label label-success"><span class="fa fa-check"></span> Ordered</span>
              <% elsif quote.active? %>
                  <span class="label label-default"><span class="fa fa-circle"></span> Active</span>
              <% else %>
                  <span class="label label-danger"><span class="fa fa-clock-o"></span> Outdated</span>
              <% end %>
            </td>
          </tr>
          <tr>
            <td class="lead">Material</td>
            <td><%= quote.material.short_name %></td>
          </tr>
          <tr>
            <td class="lead">Quantity</td>
            <td><%= quote.quantity %></td>
          </tr>
          <tr>
            <td class="lead">Delivery Date</td>
            <td><%= quote.date %></td>
          </tr>
          <tr>
            <td class="lead">Price</td>
            <td><%= number_to_currency(quote.price.to_f/100, unit: '€', separator: ',', delimiter: '.', format: '%n %u') %></td>
          </tr>
          <tr>
            <td class="lead">Logistic Cost</td>
            <td><%= number_to_currency(quote.logistic_cost.to_f/100, unit: '€', separator: ',', delimiter: '.', format: '%n %u') %></td>
          </tr>
          <tr>
            <td class="lead">Price Total</td>
            <td><%= number_to_currency(quote.total_price.to_f/100, unit: '€', separator: ',', delimiter: '.', format: '%n %u') %></td>
          </tr>
          <tr>
            <td class="lead">Distance</td>
            <td><%= quote.plant.nil? ? 0 : number_with_delimiter((quote.plant.distance.to_f/1000).to_i, delimiter: '.', separator: ',') %>
              km
            </td>
          </tr>
        </table>
      </div>
    </div>
      <div class="row">
        <div class="col-lg-12">
          <h3>Deliveries</h3>
        </div>
        <% quote.deliveries.each_with_index do |delivery, i| %>
            <div class="col-lg-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  Delivery <%= i+1 %>
                </div>
                <div class="panel-body">
                  <table class="table table-responsive">
                    <tr>
                      <td>Quantity</td>
                      <td><%= delivery.quantity %></td>
                    </tr>
                    <tr>
                      <td>Shipping Date</td>
                      <td><%= delivery.shipping_date %></td>
                    </tr>
                    <tr>
                      <td>Delivery Date</td>
                      <td><%= delivery.delivery_date %></td>
                    </tr>
                    <tr>
                      <td>Price</td>
                      <td><%= number_to_currency(delivery.price.to_f/100, unit: '€', separator: ',', delimiter: '.', format: '%n %u') %></td>
                    </tr>
                    <tr>
                      <td>Logistic Cost</td>
                      <td><%= number_to_currency(delivery.logistic_cost.to_f/100, unit: '€', separator: ',', delimiter: '.', format: '%n %u') %></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
        <% end %>
      </div>
<% end %>