<% content_for :title do %>Quotes<% end %>
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Quotes <a href="<%= quote_view_create_path %>" class="btn pull-right btn-success"><span class="fa fa-plus"></span> Create</a></h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <p>Currently <strong><%=@quotes.count %></strong> quotes where <%=Quote.where('valid_till IS NOT NULL').where(:active_quote => true).count%> are still open.</p>
    <div class="table-responsive">
      <table class="table table-stripped sortable table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>Status</th>
          <th>Material <span class="fa fa-sort pull-right sort"></span></th>
          <th>Date <span class="fa fa-sort pull-right sort"></span></th>
          <th>Quote </th>
        </tr>
        </thead>
        <tbody>
        <% @quotes.reverse.each do |quote| %>
            <tr>
              <td><%= quote.id %></td>
              <td><%if quote.has_order?%>
                    <span class="label label-success"><span class="fa fa-check"></span> Ordered</span>
                <%elsif quote.active?%>
                    <span class="label label-default"><span class="fa fa-circle"></span> Active</span>
                <%else%>
                    <span class="label label-danger"><span class="fa fa-clock-o"></span> Outdated</span>
                <%end%>
              </td>
              <td><a href="<%= material_details_path(:material_id => quote.material.id)%>"><%= quote.material.short_name %></a></td>
              <td><%= quote.date%></td>
              <td><a href="<%= quote_details_path(:access_id => quote.access_id)%>"><span class="fa fa-reply"></span> Show details</a></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>