<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Create Quote</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-8">
    <form action="<%= quote_create_path %>" method="post">

      <!-- Table -->
      <table class="table">
        <tr>
          <td class="lead no-border">Material*</td>
          <td class="no-border">
            <select class="select2" name="material_id">
            <%Material.where(:active => true).each do |material|%>
                <option value="<%= material.id %>"><%= material.short_name %></option>
            <%end%>
          </select>
          </td>
        </tr>
        <tr>
          <td class="lead">Date</td>
          <td><input type="date" class="form-control" name="date"></td>
        </tr>
        <tr>
          <td class="lead">Call ID</td>
          <td><input type="number" class="form-control" name="call_id"></td>
        </tr>
        <tr>
          <td class="lead">Quantitiy</td>
          <td><input type="number" class="form-control" name="quantity"></td>
        </tr>
        <tr>
          <td class="lead">Customer</td>
          <td>
            <select class="select2" name="customer" id="customer-select">
            <option value=""></option>
          <%Customer.all.each do |customer|%>
              <option value="<%= customer.access_id %>" data-access-id="<%= customer.access_id %>"><%= customer.name %></option>
          <%end%>
            </select>
          </td>
        </tr>
        <tr>
          <td class="lead">Plant</td>
          <td><select class="select2" name="plant" id="plant-select">

            <option value=""></option>
          </select></td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" class="btn btn-success" value="Submit"></td>
        </tr>

      </table>

    </form>
  </div>
</div>
<% content_for :foot do %>
<script type="text/javascript">
    $(document).ready(function () {
        $('#customer-select').change(function() {
            $("#plant-select").html('');
            var selectedOption = $(this).find(":selected");
            $.getJSON('/customer/'+selectedOption.attr('data-access-id')+'/plants.json', function (data) {
                console.log(data);
                for (var i = 0; i < data.length; i++) {
                    element = data[i];
                    $("#plant-select").append("<option value='"+element['id']+"'>"+element['address']+"</option>");
                }

            });
        });
    })
</script>
<% end %>
