<% content_for :title do %>Customer #<%=@customer.id%><% end %>
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Customer <a href="<%= plant_view_create_path(:customer_access_id => @customer.access_id) %>" class="btn pull-right btn-success"><span class="fa fa-plus"></span> Create Plant</a></h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <table class="table table-responsive">
      <tr>
        <td class="lead no-border">ID</td>
        <td class="no-border"><%=@customer.id%></td>
      </tr>
      <tr>
        <td class="lead no-border">Name</td>
        <td class="no-border"><%=@customer.name%></td>
      </tr>
      <tr>
    </table>
  </div>
</div>
<div class="row">
  <% @customer.plants.where(:active => true).each do |plant| %>
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Plant <%= plant.id %>
          </div>
          <div class="panel-body">
            <table class="table table-responsive">
              <tr>
                <td>Address</td>
                <td><%= plant.address %></td>
              </tr>
              <tr>
                <td>Distance</td>
                <td><%= number_with_delimiter((plant.distance.to_f/1000).to_i, delimiter: '.', separator: ',') %> km</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
  <% end %>
</div>