<% content_for :title do %>Customers<% end %>
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Customers <a href="<%= customer_view_create_path %>" class="btn pull-right btn-success"><span class="fa fa-plus"></span> Create</a></h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <p>We have <strong><%=@customers.length %></strong> different customers.</p>
    <div class="table-responsive">
      <table class="table table-stripped table-hover sortable">
        <thead>
        <tr>
          <th>#</th>
          <th>Name <span class="fa fa-sort pull-right sort"></span></th>
          <th>Discount <span class="fa fa-sort pull-right sort"></span></th>
          <th>Plants </th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.id %></td>
              <td><a href="<%= customer_details_path(:access_id => customer.access_id)%>"><strong><%= customer.name%></strong></a></td>
              <td><%= customer.discount%>%</td>
              <td><%= customer.plants.count%></td>
              <td>
                <a href="<%= customer_details_path(:access_id => customer.access_id)%>"><span class="fa fa-long-arrow-up"></span> View details</a>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>