<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Create Customer</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-8">
    <form action="<%=customer_create_path%>" method="post">

      <!-- Table -->
      <table class="table">
        <tr>
          <td class="lead no-border">Name</td>
          <td class="no-border"><input type="text" class="form-control" name="name"></td>
        </tr>
        <tr>
          <td class="lead">Discount</td>
          <td><input type="text" class="form-control" name="discount"></td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" class="btn btn-success" value="Submit"></td>
        </tr>

      </table>

    </form>
  </div>
</div>
